@page "{courseId}/{handler?}"
@model DigiLearn.Web.Areas.Admin.Pages.Courses.Sections.IndexModel
@{
    ViewData["title"] = "مدیریت سرفصل های دوره "+@Model.Course.Title;
    ViewData["selected"] = "courses_index";
    var counter = 1;
}

<h2>@ViewData["title"]</h2>
<div class="collapsible">
    @foreach (var item in Model.Course.Sections)
    {
        <div class="card collapse-header">
            <div id="#c_@item.Id" class="card-header" data-toggle="collapse" role="button" data-target="#r_@item.Id" aria-expanded="false">
                <span class="collapse-title">
                    @item.Title
                </span>
            </div>
            <div id="r_@item.Id" role="tabpanel" aria-labelledby="c_@item.Id" class="collapse">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>عنوان</th>
                            <th>زمان</th>
                            <th>وضیعیت</th>
                            <th>رایگان</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var e in item.Episodes)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@e.Title</td>
                                <td>@e.TimeSpan</td>
                                <td>
                                    @if (e.IsActive)
                                    {
                                        <label class="badge badge-success">فعال</label>
                                    }
                                    else
                                    {
                                        <label class="badge badge-danger">غیرفعال</label>
                                    }
                                </td>
                                <td>
                                    @if (e.IsFree)
                                    {
                                        <i class="bx bx-check text-success"></i>
                                    }
                                    else
                                    {
                                        <i class="bx bx-window-close text-danger"></i>
                                    }
                                </td>
                                <td>
                                    <a asp-page="EditEpisode" asp-route-episodeId="@e.Id"  asp-route-courseId="@item.CourseId" class="btn btn-primary btn-sm mb-2">ویرایش</a>
                                    @if (e.IsActive == false)
                                    {
                                        <Question class="btn btn-success btn-sm mb-2" url="@Url.Page("Index", "Accept", new { courseId = item.CourseId, episodeId = e.Id })">تایید</Question>
                                    }
                                    <delete-item url="@Url.Page("Index", "Delete", new { courseId = item.CourseId, episodeId = e.Id })">حذف</delete-item>
                                </td>
                            </tr>
                            counter += 1;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>